<style>
    .footer{
        position:fixed;
        left:0;
        bottom:0;
        padding-bottom:15px;
        width:100%;
        background-color:rgb(198, 227, 253);
        text-align:left;
        font-style: italic;
        font-size:14px;
    }
</style>
<div class="footer">
    <small><b>Copyright &copy; 2021 Infinity Marketplace</b></small>
</div>